

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 0px solid black;
  padding: 1%;
  width: 1200px;
  margin: auto;
}

.main-content {
  background-color: gainsboro;
  padding: 3% 0;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
}
.navbar .navbar-nav .nav-link:hover {
  color: #fbc531;
}
.navbar .navbar-nav .active > .nav-link {
  color: #fbc531;
}

.loginForm {
  font-size: 17px;
  padding: 14px 16px;
}

.submitButtonLogin {
  font-size: 30px;
  padding: 0px 16px;

  font-weight: 600 !important;
}

.alignButtonCenter {
  font-size: 16px !important;

  font-weight: bold !important;
  padding: 10px 30px;
}

.signupError {
  color: red;
}
